*{ /* если звездочка, то применяется ко всем элементам */
    box-sizing: border-box; /* не дает прибавлять к основной рамке падинги и марджины */
}
html{ /* применяется ко всему коду */
    font-family: 'Roboto!'; /* устанавливается код основной */
}
@font-face { /* установка локальных шрифтов */
    font-family: 'Roboto!'; /* название шрифта свое */
    src: local(Roboto); /* поиск шрифта на компьютере пользователя */
    src: url('../fonts/Roboto-Regular.eot'); /* вставка пути к шрифту */
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'), /* добавление здесь и ниже разных форматов шрифта */
    url('../fonts/Roboto-Regular.woff') format('woff'),
    url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400; /* установка толщины, если основная ширина будет 400, а есть такой же шрифт с шириной 700, то надо вставлять просто в стиль элемента толщину, а не сам шрифт */
    font-style: normal;
    }
@font-face {
    font-family: 'Roboto!';
    src: url('../fonts/Roboto-Bold.eot');
    src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Bold.woff') format('woff'),
    url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    }
@font-face {
    font-family: Philosopher;
    src: local(Philosopher);
    src: url(../fonts/Philosopher-Regular.ttf);
}
body {
    background-color:#FFE2B0; /* Определяет цвет */
}
header{
    text-align: center; /* Выравнивание текста */
    margin-bottom: 20px;
}
.first_menu{
    margin-bottom: 20px;
}
ul{ /* Список */
    list-style-type: none; /* Убирает точки их списка */
    text-align: center;    
    padding: 0px; 
}
li{ /* Задает свойства элементам в списке */
    display: inline;
    margin-right: 100px;
}
li:last-child{ /* Обращается к последнему элементу списка (навигации) */
    margin-right: 0 px; /* Обнуляет отступ справа */
}
a{
    color: black;
    text-decoration: none; /* Убирает подчеркивание у ссылки */
    font-size: 18px;
}
a:hover { /* Псевдокласс, определяющий действие при наведении курсора на текст */
    color: rgb(0, 0, 149);
}
nav{
    margin-top: 20px;
    font-weight: 700;
}
.section_with_image{
    height: 640px;
    background-image: url(../img/01-Backphoto.jpg);
    background-position: center; /* Располагает картинку по центру */
    background-size: cover; /* Делает растяжку картинки по ширине для адаптации */
    position: relative;
    margin-bottom: 20px;
}
.block_with_bread_description{
    width: 420px;
    height: 190px;
    background: linear-gradient(180deg, rgba(244,213,178,0.8) 0%, rgba(234,156,65,0.8) 100%);
    position:absolute;
    top: 54%;
    left: 50%;
    padding-top: 15px;
    text-align: center;
}
.block_with_bread_description___frame{
    border-color: #000000;
    height: 160px;
    width: 390px;
    border: 1px solid; /* ширина 1 пиксель, сплошная */
    margin: 0 auto; /* размещает блочный элемент по центру, обязательно должно быть свойство width */
    padding-top: 17px;
    padding-left: 28px;
}
.block_with_bread_description___frame___header{
    font-size: 36px;
    margin: 0;
    margin-bottom: 9px;
    font-family: Philosopher;
}
.block_with_bread_description___frame___text{
    text-align: left;
    font-size: 12px;
    margin: 0;
}
.section_with_main_information{
    margin-bottom: 20px;
}
.section_with_main_information___images{
    text-align: center;
    margin-top: 20px;
}
.section_with_main_information___images img{  /* изменяем все картинки, находящиеся в определенном  элементе */
    margin-right: 76px;
}
.section_with_main_information___images img:last-child{
    margin-right: 0px;
}
.section_with_main_information___information___header{
    margin: 0 0;
    font-size: 96px;
    text-align: center;
    font-family: Philosopher;
}
.red{
    color: #F15B40;
}
.section_with_main_information___information___text{
    margin: 0px;
    font-size: 18px;
    text-align: center;
    width: 1000px;
    margin: 0 auto;
}
.section_with_map___header{
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
    font-family: Philosopher;
}
.section_with_map___map{
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}
hr{
    border: none;
    border-top: 1px solid #999999;
    width: 1024px;
    margin: 0 auto;
}
footer{
    padding-bottom: 20px;
}